Chapter05/TwitterCampaignManager/TwitterCampaignManager/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "excelonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "excelonline"
    },
    "excelonline_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Excel Online (OneDrive)"
    },
    "twitter_1_Connection_Name": {
      "type": "string",
      "defaultValue": "twitter"
    },
    "twitter_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": ""
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Get_All_Tweets_From_Excel": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['excelonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/drives/me/files/@{encodeURIComponent('145A6162D3BD6D3E!10889')}/tables/@{encodeURIComponent('1')}/items",
                "queries": {
                  "source": "me"
                }
              },
              "runAfter": {},
              "metadata": {
                "145A6162D3BD6D3E!10889": "/Packt/Tweets.xlsx"
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('Get_All_Tweets_From_Excel')?['value']",
              "actions": {
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greaterOrEquals": [
                          "@body('Parse_JSON')?['returnFlag']",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Post_a_tweet": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['twitter']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/posttweet",
                        "queries": {
                          "tweetText": "@items('For_each')?['Tweet']"
                        }
                      },
                      "runAfter": {}
                    },
                    "Delete_a_row": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['excelonline']['connectionId']"
                          }
                        },
                        "method": "delete",
                        "path": "/drives/me/files/@{encodeURIComponent('145A6162D3BD6D3E!10889')}/tables/@{encodeURIComponent('1')}/items/@{encodeURIComponent(encodeURIComponent(items('For_each')?['Date']))}",
                        "queries": {
                          "source": "me",
                          "idColumn": "Date"
                        }
                      },
                      "runAfter": {
                        "Post_a_tweet": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "145A6162D3BD6D3E!10889": "/Packt/Tweets.xlsx"
                      }
                    }
                  },
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  }
                },
                "DatesCompare": {
                  "type": "Function",
                  "inputs": {
                    "body": "{date1: '@{utcNow()}', date2: '@{items('For_each')?['Date']}'}",
                    "function": {
                      "id": "/subscriptions/16a7fc79-9bea-4d04-83a1-09f3b260adb0/resourceGroups/netcode-projects/providers/Microsoft.Web/sites/TwitterCampaignManagerFuncs20181107051635/functions/DatesCompare"
                    }
                  },
                  "runAfter": {}
                },
                "Parse_JSON": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('DatesCompare')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "returnFlag": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "DatesCompare": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Get_All_Tweets_From_Excel": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "excelonline": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'excelonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('excelonline_1_Connection_Name'))]",
                "connectionName": "[parameters('excelonline_1_Connection_Name')]"
              },
              "twitter": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twitter')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('twitter_1_Connection_Name'))]",
                "connectionName": "[parameters('twitter_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('excelonline_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('twitter_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('excelonline_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'excelonline')]"
        },
        "displayName": "[parameters('excelonline_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('twitter_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twitter')]"
        },
        "displayName": "[parameters('twitter_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}